<h1>Stupid Coaching</h1>

<div class="card">
  <%=params[:question]%>
  <p>- You</p>
</div>


<div class="card">
  <%=@answer%>
  <p>- Your Coach</p>
</div>


<%= link_to 'ask a new question', ask_path %>
